<div class="foo">
 <form>
  <div class="form-group">
    <label class="control-label col-xs-4 margintop" translate="taskid">Task Id</label>
     <div class="col-xs-8 margintop">
        <input type="text" class="form-control" id="task_id" ng-model="taskid">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-4 margintop" translate="taskname">Task Name</label>
     <div class="col-xs-8 margintop">
        <input type="text" class="form-control" id="task_name" ng-model="taskname">
    </div>
  </div>
   <div class="btn1">
   <div class="col-xs-4"> 
      <button type="button" class="btn_add" ng-click="add_detail()" translate="register"></button>
   </div>
   <div class="col-xs-4"> 
      <button type="button" class="btn_cancel" ng-click="cancel_detail()" translate="cancel"></button>
  </div>
  </div>
</form>
</div>


     
    